<h2><%=link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2>
<h4><%= portfolio_item.subtitle %></h4>
<p><%= portfolio_item.body %></p>
<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?%>
<%= link_to 'edit',  edit_portfolio_path(portfolio_item)  if logged_in?(:site_admin)%>
<%= link_to 'remove',  portfolio_path(portfolio_item), method: :delete , data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
          <div class="card shadow-sm">
              {{< placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" >}}
              <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                  </div>
              </div>
          </div>
      </div>
  </div>