<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
<h1><%= @portfolio_item.title %></h1>
<h3><%= @portfolio_item.subtitle %></h3>
<p><%= @portfolio_item.body %></p>
<hr>
<h2>Technologies used</h2>
<% @portfolio_item.technologies.each do |technology_item| %>
<h5><%= technology_item.name %></h5>
<% end %>