<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <%= link_to 'home',  root_path, class: "p-2 link-secondary" %>
        <%= link_to 'about-me',  about_me_path, class:"p-2 link-secondary" %>
        <%= link_to 'contact',  contact_path, class:"p-2 link-secondary" %>
        <%= link_to 'blogs',  blogs_path, class:"p-2 link-secondary" %>
        <%= link_to 'portfolio',  portfolios_path, class:"p-2 link-secondary" %>
        
    
    </nav>
</div>
