<!DOCTYPE html>
<html>

<head>
    <meta name="keywords" content="<%=@seo_keywords %>" />

    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
        <%= login_helper %>
    </div>

    <%= yield %>
    <%= render 'shared/navbar', location: '"bottom"' %>
    <% if session[:source] %>
    <p>Thanks for visitying me from <%= session[:source] %></p>
    <% end %>
</body>

</html>